.user-header {
  text-align: center; 
  padding: 5px 0; 
}

.custom-list {
  list-style: none; 
  padding: 0;
}

.custom-list-item-1 {
  margin-bottom: 10px; 
  top: 50%;
  left: 80%
}
.custom-list-item-2 {
  margin-bottom: 10px; 
}